<!DOCTYPE html>
<html>

<head>
    <title>ChatGPTranslate</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <p id="instruction-key" style="display: none;">
        Please set your OpenAI API Key in the <a class="settings-link" href="#" target="_blank">Settings</a> page.
    </p>
    <p id="instruction-general" style="display: none;">
        Highlight text to use the translaton tool. For more options, see the <a class="settings-link" href="#" target="_blank">Settings</a> page.
    </p>
    <script src="../scripts/popup.js"></script>
</body>

</html>