body {
    font-size: 16px;
}

.item {
    padding-left: 20px;
    margin-bottom: 1rem;
}

.item label {
    min-width: 130px;
    display: inline-block;
}

button {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 4px 16px;
}

textarea[name='api-key'] {
    min-width: 300px;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

select {
    min-width: 300px;
}

#settings-form #version {
    margin-left: 1rem;
}
