#translation-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  z-index: 10000;
  max-width: 300px;
}

#translation-popup p {
  margin: 0 0 5px;
}

#translation-popup p strong {
  font-weight: bold;
  color: #333;
}

#translation-popup a {
  text-decoration: underline;
  font-size: 10px;
}

#translation-popup a:hover {
  text-decoration: underline;
}

#translation-popup img {
  cursor: pointer;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

#translation-popup .icon-container {
  display: flex;
  align-items: center;
}

#translation-popup .translation-section {
  display: flex;
}

#translation-popup .translation {
  padding-right: 10px;
  width: 95%;
}

.translation-section .pronunciation {
  width: 20px;
}

#translation-popup .explanation {
  font-size: 12px;
  color: #666;
}

.navbar-popup {
  width: 250px;
}