#translation-popup {
    --main-bg-color: white;
    --main-color-black: black;
    --main-color-grey-dark: #333;
    --main-color-grey-medium: #666;
    --main-color-grey-light: #ccc;
    --elem-radius: 4px;

    position: fixed;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, max(-50%, -40vh));
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-color-grey-light);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    max-width: min(calc(70vw), 900px);
}

#translation-popup,
#translation-popup h1,
#translation-popup h2,
#translation-popup h3,
#translation-popup p,
#translation-popup li,
#translation-popup div,
#translation-popup pre {
    color: var(--main-color-black);
    font-size: 1rem;
    margin: 0 0 4px;
    font-family: Arial, sans-serif;
}

#translation-popup .hidden {
    display: none;
}

#translation-popup a {
    text-decoration: underline;
    font-size: 0.75em;
}

#translation-popup .default-color:link {
    color: LinkText;
}

#translation-popup a:hover {
    text-decoration: underline;
}

#translation-popup ol,
#translation-popup ul {
    padding: 0 0 0 32px;
}

#translation-popup img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#translation-popup .icon-container {
    display: flex;
    align-items: center;
}

#translation-popup .translation-section {
    display: flex;
}

#translation-popup .translation {
    padding-right: 10px;
    width: calc(100% - 32px);
}

.translation-section .pronunciation {
    position: absolute;
    top: 10px;
    right: 10px;
}

#translation-popup .explanation {
    font-size: 12px;
    color: var(--main-color-grey-medium);
}

#translation-popup .explanation strong {
    font-weight: bold;
    color: var(--main-color-grey-dark);
}

#translation-popup pre {
    width: 100%;
    text-wrap: auto;
    background-color: var(--main-bg-color);
    box-shadow: none;
    border: unset;
}

.navbar-popup {
    width: 300px;
    font-size: 1rem;
}

#translation-popup #change-lang-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    background: none;
}

#translation-popup #change-lang-form label {
    line-height: 1.2em;
    font-size: 1em;
    background: none;
}

#translation-popup #change-lang-form select {
    color: var(--main-color-black);
    line-height: 1.2em;
    font-size: 1em;
    background: none;
    margin: 0;
    padding: 0 0.5em;
    height: 1.5em;
    width: 140px;
    border: 1px solid var(--main-color-black);
    border-radius: var(--elem-radius);
    appearance: auto;
}

#translation-popup #change-lang-form button {
    color: var(--main-color-black);
    height: 1.5em;
    line-height: 1.2em;
    font-size: 1em;
    padding: 0 0.5em;
    margin: 0;
    min-width: 90px;
    border-radius: var(--elem-radius);
    cursor: pointer;
}

.navbar-popup .footer {
    display: flex;
    justify-content: space-between;
}
