#translation-popup {
    --main-bg-color: white;

    position: fixed;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, max(-50%, -40vh));
    background-color: var(--main-bg-color);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    max-width: min(calc(70vw), 900px);
}

#translation-popup,
#translation-popup h1,
#translation-popup h2,
#translation-popup h3,
#translation-popup p,
#translation-popup li,
#translation-popup div,
#translation-popup pre {
    color: black;
    font-size: 16px;
    margin: 0 0 4px;
    font-family: Arial, sans-serif;
}

#translation-popup a {
    text-decoration: underline;
    font-size: 0.75em;
}

#translation-popup .default-color:link {
    color: LinkText;
}

#translation-popup a:hover {
    text-decoration: underline;
}

#translation-popup ol,
#translation-popup ul {
    padding: 0 0 0 32px;
}

#translation-popup img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#translation-popup .icon-container {
    display: flex;
    align-items: center;
}

#translation-popup .translation-section {
    display: flex;
}

#translation-popup .translation {
    padding-right: 10px;
    width: 95%;
}

.translation-section .pronunciation {
    position: absolute;
    top: 10px;
    right: 10px;
}

#translation-popup .explanation {
    font-size: 12px;
    color: #666;
}

#translation-popup .explanation strong {
    font-weight: bold;
    color: #333;
}

#translation-popup pre {
    width: 100%;
    text-wrap: auto;
    background-color: var(--main-bg-color);
}

.navbar-popup {
    width: 300px;
    font-size: 16px;
}
