body {
  font-size: 16px;
}

#translation-popup {
  position: fixed;
  top: 40VH;
  left: 50VW;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  z-index: 10000;
  max-width : min(calc(70VW), 900px);
}

#translation-popup,
#translation-popup h1,
#translation-popup h2,
#translation-popup h3,
#translation-popup p,
#translation-popup li,
#translation-popup div {
  color: black;
}

#translation-popup p {
  margin: 0 0 5px;
}

#translation-popup a {
  text-decoration: underline;
  font-size: .75em;
}

#translation-popup a:hover {
  text-decoration: underline;
}

#translation-popup img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#translation-popup .icon-container {
  display: flex;
  align-items: center;
}

#translation-popup .translation-section {
  display: flex;
}

#translation-popup .translation {
  padding-right: 10px;
  width: 95%;
}

.translation-section .pronunciation {
  position: absolute;
  top:10px;
  right:10px;
}

#translation-popup .explanation {
  font-size: .75em;
  color: #666;
}

#translation-popup .explanation strong {
  font-weight: bold;
  color: #333;
}

#translation-popup pre {
  width: 100%;
  text-wrap: auto;
}

.navbar-popup {
  width: 300px;
}