<!doctype html>
<html>
    <head>
        <title>ChatGPTranslate</title>
        <link rel="stylesheet" href="../styles/styles.css" />
    </head>

    <body>
        <div class="navbar-popup">
            <p id="instruction-key" style="display: none">
                Please set your OpenAI API Key in the
                <a class="settings-link" href="#" target="_blank"
                    ><b>Settings</b></a
                >
                page.
            </p>
            <p id="instruction-general" style="display: none">
                Highlight text to use the translation tool. For more options,
                see the
                <a class="settings-link" href="#" target="_blank"
                    ><b>Settings</b></a
                >
                page.
            </p>
            <p>
                GPT usage
                <a
                    href="https://platform.openai.com/settings/organization/usage"
                    target="_blank"
                    >cost and activity</a
                >
                pages.
            </p>
            <div class="footer">
                <label>
                    <input type="checkbox" id="enable-disable" checked /> Enable
                    / Disable
                </label>
                <label id="version"></label>
            </div>
        </div>
        <script type="module" src="../popup.bundle.js"></script>
    </body>
</html>
